/* Main */
body{
  background-color: #f7f7f7;
}
.h1{
  font-size: 2rem;
}

/* header */



/* Map */

#map {
  width: 100%;
  height: 600px;
}


.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/* content */


.content-pane{
  padding-top: 7%;

}

.content-img-med-r{
  float: right;
  height: 200px;
  padding: 5px;
}

.content-img-lrg{
  height: 300px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.quote-area{
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.citation{
  font-style: italic;
  font-size: 1rem;
  color: #5bc0de;
}

.quote{
  font-size: 1rem;
  font-style: italic;

}

.quote-citation{
  font-size: 1rem;

}


/* Footer */

footer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.3px solid #9C9C9C;
  height: 50px;
  text-align: center
}


.footer-text{
  color : #9C9C9C;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 0.8rem;

}
